.statistics-component {
    .statistics-section {
        position: relative;

        .statistics-overlay {
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
        }

        .statistics-container {
            max-width: 1320px;
            margin: 0 auto;
            padding: 0 15px;
        }

        .statistics-row {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: center;
        }

        .statistics-card {
            border-radius: 8px;
            padding: 20px;
            text-align: center;
            flex: 1 1 calc(25% - 20px); /* 4 card per riga su schermi larghi */
            min-width: 250px; /* Card più piccole per default */
            transition: transform 0.3s ease;
            max-width: 300px; /* Dimensione massima per card grande */

            &:hover {
                transform: translateY(-10px);
                cursor: pointer;
            }

            .statistics-content {
                width: 100%;

                .statistics-icon {
                    margin-bottom: 15px;

                    mat-icon {
                        font-size: 7vh; /* Ridurre la dimensione delle icone */
                        width: 100%;
                        height: 100%;
                    }
                }

                .statistics-value {
                    font-size: 2rem; /* Ridurre la dimensione del valore */
                    font-weight: 700;
                    margin-bottom: 10px;
                }

                .statistics-label {
                    font-size: 0.9rem; /* Ridurre la dimensione della label */
                    text-align: center;
                    max-width: 100%;
                }
            }
        }

        .statistics-section-title {
            font-size: 2.5rem;
            font-weight: 600;
            text-align: center;
            margin-bottom: 2rem;
        }

        h1{
            margin-bottom: 24px;
        }
    }

    /* Media Queries per la responsività */
    
    /* Schermi larghezza <= 1200px */
    @media (max-width: 1200px) {
        .statistics-card {
            flex: 1 1 calc(33.33% - 20px); /* 3 card per riga */
            max-width: 240px;  /* Card più piccole */
            min-width: 220px;  /* Card più strette */
        }
    }

    /* Schermi  */
    @media (max-width: 992px) {
        .statistics-component{
            padding: 0 !important;
        }

        .statistics-card {
            flex: 1 1 calc(50% - 20px);  /* 2 card per riga */
            max-width: 300px;  /* Ancora più piccole */
            min-width: 200px;
        }
    }

    /* Schermi larghezza <= 768px */
    @media (max-width: 768px) {
        .statistics-component{
            padding: 0 !important;
        }

        .statistics-card {
            flex: 1 1 100% !important;  /* 1 card per riga */
            max-width: 280px !important;  /* Card piccolissime */
            min-width: 180px !important;
            padding: 10px !important;  /* Ridurre il padding per spazi più stretti */
        }

        h2{
            font-size: 1.5rem !important;
        }
    }

    /* Schermi molto piccoli (extra small) */
    @media (max-width: 480px) {
        .statistics-component{
            padding: 0 !important;
        }

        .statistics-card {
            flex: 1 1 100% !important;  /* 1 card per riga */
            max-width: 34vw !important;  /* Card molto piccole */
            min-width: 90px !important;
            padding: 5px !important; /* Ridurre ulteriormente il padding */
        }

        h2{
            font-size: 1rem !important;
        }
    }
}
