<section class="statistics-component">
  <div class="statistics-section">
    <h1>{{ isLoading ? 'Loading...' : statsTitle }}</h1>
    <div class="statistics-container" *ngIf="!isLoading; else statsLoading">
      <div class="statistics-row">
        <div *ngFor="let stat of statistics" class="statistics-card">
          <div class="statistics-content">
            <div class="statistics-icon">
              <mat-icon>{{ stat.icon }}</mat-icon>
            </div>
            <p class="statistics-label">{{ stat.label }}</p>
            <h2 class="statistics-value">{{ stat.value }}</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<ng-template #statsLoading>
  <div class="statistics-row">
    <p>Loading statistics...</p>
  </div>
</ng-template>