@use 'variables' as *;

body.red-mode {
  background-color: #ffe4e6;
  color: #000000;
  --section-transition-glow: rgba(248, 113, 113, 0.28);

  .bg-container {
    background: linear-gradient(135deg, #fbcfe8, #f87171, #fb7185);
  }

  .project-card,
  .skill-section,
  .popup {
    background-color: #ffffff;
    box-shadow: $section-box-shadow;
    color: #000000;
  }

  .point-on-line {
    background-color: #ef4444;
  }

}
