// Box shadows
$box-shadow-3d: 
    0 4px 6px rgba(0, 0, 0, 0.2),
    0 8px 15px rgba(0, 0, 0, 0.15),
    0 15px 25px rgba(0, 0, 0, 0.1),
    0 25px 35px rgba(0, 0, 0, 0.05);

$section-box-shadow: 
    0px 5px 10px rgba(0, 0, 0, 0.15),
    0px 10px 15px rgba(0, 0, 0, 0.1),
    0px 2px 4px rgba(0, 0, 0, 0.2),
    inset 0px -1px 3px rgba(0, 0, 0, 0.05);

// Global styles
html,
body {
    height: 100%;
    margin: 0;
}

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease;
    max-width: 100vw;
    overflow-x: hidden;
}

// Typography styles
h1 {
    font-size: 3em;
    margin-bottom: 0.5em;
}

h2 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

p {
    font-size: 1.2em;
    max-width: 90vw;
    margin-bottom: 1.5em;
}

// Button styles
button {
    padding: 0.75em 1.5em;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

// Section styles
section {
    padding: 0 1.5em 3em 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: $section-box-shadow;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

// Background container styles
.bg-container {
    .bottom-border {
        box-shadow: $section-box-shadow;
    }
}

// Social container styles
.social-container {

    .social-item a img:hover {
        transform: translateY(-5px);
        cursor: pointer;
    }
}

/* Dark mode theme */
body.dark-mode {
    background-color: #181818;
    color: #ffffff;

    h1,
    h2,
    p {
        color: #e0e0e0;
    }

    button {
        background-color: #333;
        color: #ffffff;

        &:hover {
            background-color: #444;
        }
    }

    section {
        background-color: #1e1e1e;
    }

    .bg-container {
        background: linear-gradient(315deg, #1a004b, #002147, #002b21, #002b17);

        .hero-content {
            button {
                background-color: #181818 !important;
            }

            button:hover {
                background-color: #1f1f1f !important;
            }
        }
    }

    .project-card {
        background-color: #181818 !important;
        box-shadow: $box-shadow-3d;

        img {
            background-color: #181818 !important;
        }
    }

    .carousel-container{
        background-color: #181818;
    }

    .skill-section {
        background-color: #181818;
        box-shadow: $box-shadow-3d;
    }

    .full_mask {
        .top-left-circle {
            background-color: rgb(49, 59, 59) !important;
        }

        .center-left-circle {
            background-color: rgb(43, 53, 45) !important;
        }

        .bottom-center-circle {
            background-color: rgb(63, 55, 55) !important;
        }

        .center-right-circle {
            background-color: rgb(57, 59, 50) !important;
        }

        .inside-circle {
            background-color: rgb(52, 66, 68);
        }
    }
}

/* Mobile media queries */
@media (max-width: 768px) {
    section {
    }

    h1 {
        font-size: 2.5em;
    }

    h2 {
        font-size: 2em;
    }

    p {
        font-size: 1em;
    }

    button {
        padding: 0.6em 1.2em;
        font-size: 0.9em;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.8em;
    }

    p {
        font-size: 0.9em;
        margin-bottom: 1em;
    }

    button {
        padding: 0.5em 1em;
        font-size: 0.8em;
    }

    .skill-section {
        margin-bottom: 1em;
    }

    .bg-container {
        padding: 1rem;
    }

    .social-container {
        display: flex;
        justify-content: center;
        gap: 1rem;
    }
}