<section>
    <h2>Featured Projects</h2>

    <!-- Carosello per mobile -->
    <div class="carousel-container" *ngIf="isMobile">
        <button class="arrow-left" (click)="moveToPrevious()">&#10094;</button>

        <div class="carousel-wrapper">
            <div class="carousel-item" *ngFor="let project of projects; let i = index"
                [class.active]="i === currentIndex">
                <div class="project-card">
                    <img [src]="project.image" alt="Project Image" />
                    <h3>{{ project.title }}</h3>

                    <p>
                        {{ getTruncatedDescription(project) }}
                        <!-- Mostra "More" solo se il testo non è espanso -->
                        <span *ngIf="!project.expanded" class="more" (click)="toggleExpand(project)">... More</span>
                        <!-- Mostra "Less" solo se il testo è espanso -->
                        <span *ngIf="project.expanded" class="less" (click)="toggleExpand(project)"> Less</span>
                    </p>

                    <a [href]="project.link" target="_blank">View Project</a>
                </div>
            </div>
        </div>

        <button class="arrow-right" (click)="moveToNext()">&#10095;</button>
    </div>

    <!-- Griglia per desktop -->
    <div class="project-cards" *ngIf="!isMobile">
        <div class="project-card" *ngFor="let project of projects">
            <h3>{{ project.title }}</h3>
            <img [src]="project.image" alt="Project Image" />

            <p>
                {{ getTruncatedDescription(project) }}
                <!-- Mostra "More" solo se il testo non è espanso -->
                <span *ngIf="!project.expanded" class="more" (click)="toggleExpand(project)">... More</span>
                <!-- Mostra "Less" solo se il testo è espanso -->
                <span *ngIf="project.expanded" class="less" (click)="toggleExpand(project)"> Less</span>
            </p>

            <a [href]="project.link" target="_blank">View Project</a>
        </div>
    </div>
</section>
