// Carosello per dispositivi mobili
.carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    overflow: hidden;

    .carousel-wrapper {
        display: flex;
        transition: transform 0.3s ease;
    }

    .carousel-item {
        min-width: 100%;
        display: none; // Nascondi tutte le card inizialmente

        &.active {
            display: block; // Mostra solo la card attiva
        }

        .project-card {
            background-color: white;
            border-radius: 8px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            text-align: center;
            padding: 1em;
            transition: transform 0.3s;

            // Hover effect per le card nel carosello mobile
            &:hover {
                transform: translateY(-5px);
                cursor: pointer;
            }

            img {
                width: 100%;
                height: 180px;
                object-fit: contain;
                object-position: top;
                border-radius: 8px 8px 0 0;
                background-color: white;
            }

            h3 {
                color: #0073e6;
                margin-top: 0.75em;
                font-size: 1.4em;
            }

            p {
                font-size: 1em;
                margin: 0.75em 0;
            }

            a {
                color: #4a90e2;
                text-decoration: none;
                font-weight: bold;
                transition: color 0.3s;

                &:hover {
                    color: #2a6eb8;
                }
            }
        }
    }

    .arrow-left,
    .arrow-right {
        position: absolute;
        top: 50%;
        z-index: 10;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        border: none;
        padding: 10px;
        cursor: pointer;
        font-size: 24px;
        transform: translateY(-50%);
        transition: background-color 0.3s ease;

        &:hover {
            background-color: rgba(0, 0, 0, 0.8);
        }
    }

    .arrow-left {
        left: 10px;
    }

    .arrow-right {
        right: 10px;
    }
}

// Media Query per dispositivi mobili (max-width: 768px)
@media (max-width: 768px) {
    .project-cards {
        display: none; // Nascondi la griglia per i dispositivi mobili
    }
}