// Carosello per dispositivi mobili
.carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;

    .carousel-wrapper {
        display: flex;
        transition: transform 0.3s ease;
    }

    .carousel-item {
        min-width: 100%;
        display: none; // Nascondi tutte le card inizialmente

        &.active {
            display: block; // Mostra solo la card attiva
        }
    }

    .arrow-left,
    .arrow-right {
        position: absolute;
        bottom: 3px;
        z-index: 10;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        border: none;
        padding-block: 2px;
        padding-inline: 10px;
        cursor: pointer;
        font-size: 16px;
        transform: translateY(-50%);
        transition: background-color 0.3s ease;

        &:hover {
            background-color: rgba(0, 0, 0, 0.8);
        }
    }

    .arrow-left {
        left: 10px;
    }

    .arrow-right {
        right: 10px;
    }
}

// Media Query per dispositivi mobili (max-width: 768px)
@media (max-width: 768px) {
    
    .project-cards {
        display: none; // Nascondi la griglia per i dispositivi mobili
    }
}