/* General styles for the Contact Me section */
.contact-me-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 1rem;
    height: auto;

    .contact-me-title {
        font-size: 2.5rem;
        margin-bottom: 1.5rem;
        text-align: center;
    }

    .popup-relativeness{
        position: relative;
    }
    
    .contact-form {
        width: 96vw;
        max-width: 600px;
        margin-top: 2rem;
    }

    .form-field {
        width: 90vw;
        max-width: 600px;
        margin-bottom: 1rem;

        .mdc-text-field {
            position: static;
        }

        .mat-mdc-text-field-wrapper {
            width: 96% !important;
        }

        .mat-form-field {
            width: 96% !important;
        }
    }

    .submit-btn {
        display: flex;
        justify-content: center;
        margin-top: 1rem;
    }
}

/* Responsive design */
@media (max-width: 768px) {
    .contact-me-title {
        font-size: 2rem;
    }
}