<section class="experiences-section" *ngIf="currentExperiences as translated">
    <h2>{{ translated.title }}</h2>
    <div class="experiences-container">
        <div class="experience" *ngFor="let experience of translated.experiences">
            <p><strong>{{ experience.startDate }} - {{ experience.endDate }}</strong></p>
            <p>{{ experience.location }} - <strong>{{ experience.position }}</strong></p>
            <p *ngIf="experience.technologies">{{ experience.technologies }}</p>
            <p>{{ experience.responsibilities }}</p>
        </div>
    </div>
</section>