<section class="experiences-section">
    <h2>{{ isLoading ? '...' : experiences.title }}</h2>
    <ng-container *ngIf="!isLoading; else experiencesLoading">
        <div class="experiences-container">
            <div class="experience" *ngFor="let experience of experiences.experiences">
                <p><strong>{{ experience.startDate }} - {{ experience.endDate }}</strong></p>
                <p>{{ experience.location }} - <strong>{{ experience.position }}</strong></p>
                <p *ngIf="experience.technologies">{{ experience.technologies }}</p>
                <p>{{ experience.responsibilities }}</p>
            </div>
        </div>
    </ng-container>
</section>

<ng-template #experiencesLoading>
    <div class="experiences-container">
        <div class="experience">
            <p>...</p>
        </div>
    </div>
</ng-template>
