:host {
  display: block;
}

.home {
  display: flex;
  flex-direction: column;
  gap: 0;
  padding-block: 0;
}

.home__section {
  padding-inline: 0;
  display: block;
  width: 100%;
}

.home__section--hero {
  padding-top: 0;
}
