<div *ngIf="viewInitialized">
  <div #section><app-hero (navigateNextSection)="navigateNext()"></app-hero></div>
  <div #section><app-about></app-about></div>
  <div #section>
    @defer (on viewport) {
      @if (loadProjectsComponent() | async; as component) {
        <ng-container *ngComponentOutlet="component"></ng-container>
      }
    } @placeholder {
      <div class="section-placeholder" aria-hidden="true"></div>
    }
  </div>
  <div #section>
    @defer (on viewport) {
      @if (loadSkillsComponent() | async; as component) {
        <ng-container *ngComponentOutlet="component"></ng-container>
      }
    } @placeholder {
      <div class="section-placeholder" aria-hidden="true"></div>
    }
  </div>
  <div #section>
    @defer (on viewport) {
      @if (loadEducationComponent() | async; as component) {
        <ng-container *ngComponentOutlet="component"></ng-container>
      }
    } @placeholder {
      <div class="section-placeholder" aria-hidden="true"></div>
    }
  </div>
  <div #section>
    @defer (on viewport) {
      @if (loadExperiencesComponent() | async; as component) {
        <ng-container *ngComponentOutlet="component"></ng-container>
      }
    } @placeholder {
      <div class="section-placeholder" aria-hidden="true"></div>
    }
  </div>
  <div #section>
    @defer (on viewport) {
      @if (loadStatsComponent() | async; as component) {
        <ng-container *ngComponentOutlet="component"></ng-container>
      }
    } @placeholder {
      <div class="section-placeholder" aria-hidden="true"></div>
    }
  </div>
  <div #section>
    @defer (on viewport) {
      @if (loadContactMeComponent() | async; as component) {
        <ng-container *ngComponentOutlet="component"></ng-container>
      }
    } @placeholder {
      <div class="section-placeholder" aria-hidden="true"></div>
    }
  </div>

  <app-navigator [totalSections]="totalSections" [currentSectionIndex]="currentSectionIndex"
    (navigateNext)="navigateNext()" (navigatePrevious)="navigatePrevious()">
  </app-navigator>
</div>
