// Carosello per dispositivi mobili
.carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    overflow: hidden;

    .carousel-wrapper {
        display: flex;
        transition: transform 0.3s ease;
    }

    .carousel-item {
        min-width: 100%;
        display: none; // Nascondi tutte le sezioni inizialmente

        &.active {
            display: block; // Mostra solo la sezione attiva
        }
    }

    .arrow-left,
    .arrow-right {
        position: absolute;
        top: 78px;
        z-index: 10;
        border: none;
        padding-block: 2px;
        padding-inline: 10px;
        cursor: pointer;
        font-size: 16px;
        transform: translateY(-50%);
        transition: background-color 0.3s ease;

    }

    .arrow-left {
        left: 30px;
    }

    .arrow-right {
        right: 30px;
    }
}

// Media Query per dispositivi mobili (max-width: 768px)
@media (max-width: 768px) {
    .skill-grid {
        display: none; // Nascondi la griglia per i dispositivi mobili
    }
}

// Extra small mobile devices
@media (max-width: 480px) {
    .skill-section {
        width: 75vw !important;
    }

    .carousel-container {
        margin-top: 1vh;
    }
}