<header
  #topbarRoot
  class="topbar"
  aria-label="Primary navigation"
>
  <div class="topbar__content">
    <nav class="topbar__nav" aria-label="Main menu" #navContainer>
      <ng-container *ngIf="overflowNavigationItems.length > 0">
        <div class="topbar__overflow">
          <button
            type="button"
            class="topbar__menu-button navigator-circle-button"
            (click)="toggleOverflowMenu()"
            [attr.aria-expanded]="isOverflowMenuOpen"
            aria-haspopup="true"
            [attr.aria-controls]="overflowMenuId"
          >
            <span class="visually-hidden">{{ overflowMenuLabel }}</span>
            <mat-icon aria-hidden="true" fontIcon="menu"></mat-icon>
          </button>

          <div
            *ngIf="isOverflowMenuOpen"
            class="topbar__overflow-menu"
            [id]="overflowMenuId"
            role="menu"
          >
            <a
              *ngFor="let item of overflowNavigationItems; trackBy: trackByRoute"
              [routerLink]="item.route"
              routerLinkActive="topbar__overflow-link--active"
              [routerLinkActiveOptions]="{ exact: item.exact ?? false }"
              class="topbar__overflow-link"
              role="menuitem"
              (click)="onOverflowItemSelected()"
            >
              {{ item.label | uppercase }}
            </a>
          </div>
        </div>

        <span
          *ngIf="visibleNavigationItems.length > 0"
          class="topbar__separator"
          aria-hidden="true"
        >
          |
        </span>
      </ng-container>

      <ng-container
        *ngFor="let item of visibleNavigationItems; trackBy: trackByRoute; let last = last"
      >
        <a
          [routerLink]="item.route"
          routerLinkActive="topbar__link--active"
          [routerLinkActiveOptions]="{ exact: item.exact ?? false }"
          class="topbar__link"
        >
          {{ item.label | uppercase }}
        </a>
        <span *ngIf="!last" class="topbar__separator" aria-hidden="true">|</span>
      </ng-container>
    </nav>

    <div class="topbar__preferences">
      <label class="visually-hidden" for="topbar-language-select">{{ languageLabel }}</label>
      <select
        id="topbar-language-select"
        class="topbar__select"
        [value]="currentLanguage"
        (change)="onSelectLanguage($any($event.target).value)"
      >
        <option *ngFor="let language of languages" [value]="language">
          {{ language | uppercase }}
        </option>
      </select>

      <label class="visually-hidden" for="topbar-theme-select">{{ themeLabel }}</label>
      <select
        id="topbar-theme-select"
        class="topbar__select"
        [value]="currentTheme"
        (change)="onSelectTheme($any($event.target).value)"
      >
        <option *ngFor="let theme of themes" [value]="theme">
          {{ getThemeLabel(theme) }}
        </option>
      </select>
    </div>
  </div>
</header>
