// Variabili SCSS per colori, opacità e dimensioni
$color-top-left: rgb(213, 249, 255);
$color-center-left: rgb(232, 255, 235);
$color-bottom-center: rgb(255, 244, 244);
$color-center-right: rgb(253, 255, 231);
$circle-opacity: 0.3;

// Range per le dimensioni casuali dei cerchi
$min-circle-size: 400px;
$max-circle-size: 600px;

// Contenitore generale
.full_mask {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 2;
    overflow: hidden;

    .circle {
        position: absolute;
        border-radius: 50%;
        opacity: $circle-opacity;
        transition: all 0.5s ease-in-out;
    }

    // Cerchio in alto a sinistra
    .top-left-circle {
        top: -10vh;
        left: -10vw;
        background-color: $color-top-left;
        width: $min-circle-size;
        height: $min-circle-size;
    }

    // Cerchio al centro a sinistra
    .center-left-circle {
        bottom: -16vh;
        left: -8vw;
        background-color: $color-center-left;
        width: $min-circle-size;
        height: $min-circle-size;
    }

    // Cerchio in basso al centro
    .bottom-center-circle {
        bottom: -15vw;
        left: 70vw;
        background-color: $color-bottom-center;
        width: $min-circle-size;
        height: $min-circle-size;
    }

    // Cerchio al centro a destra
    .center-right-circle {
        top: 30vh;
        right: 0;
        background-color: $color-center-right;
        width: $min-circle-size;
        height: $min-circle-size;
    }
}