<div class="navigator-wrapper" [class.navigator-wrapper--collapsed]="!isOpen">
  <!-- Modern, animated, circular floating navbar -->
  <div class="modern-navigator" [class.modern-navigator--collapsed]="!isOpen">
    <ng-container *ngIf="isOpen">
      <div class="arrow-container">
        <!-- Previous button -->
        <button
          type="button"
          class="arrow-button navigator-circle-button"
          (click)="onPrevious()"
          [disabled]="!canNavigatePrevious"
          [class.arrow-button--inactive]="!canNavigatePrevious"
          [attr.aria-label]="getTooltip('prev')"
          [attr.aria-disabled]="!canNavigatePrevious"
          [matTooltip]="getTooltip('prev')"
          [matTooltipDisabled]="false"
          matTooltipPosition="left"
        >
          <mat-icon>arrow_upward</mat-icon>
        </button>

        <!-- Next button -->
        <button
          type="button"
          class="arrow-button navigator-circle-button"
          (click)="onNext()"
          [disabled]="!canNavigateNext"
          [class.arrow-button--inactive]="!canNavigateNext"
          [attr.aria-label]="getTooltip('next')"
          [attr.aria-disabled]="!canNavigateNext"
          [matTooltip]="getTooltip('next')"
          [matTooltipDisabled]="false"
          matTooltipPosition="left"
        >
          <mat-icon>arrow_downward</mat-icon>
        </button>
      </div>

      <div class="nav-groups">
        <div class="nav-group">
          <button
            type="button"
            class="nav-button"
            (click)="toggleThemeOptions()"
            [attr.aria-label]="getTooltip('theme')"
            [attr.aria-expanded]="showThemeOptions"
            [matTooltip]="getTooltip('theme')"
            matTooltipPosition="left"
          >
            <mat-icon>{{ getThemeIcon(currentTheme) }}</mat-icon>
          </button>
          <div class="option-container" *ngIf="showThemeOptions">
            <div class="option-item" *ngFor="let theme of availableThemes">
              <span class="option-hint" [id]="'theme-option-hint-' + theme">{{ getThemeName(theme) }}</span>
              <button
                class="option-button"
                type="button"
                (click)="changeTheme(theme)"
                [attr.aria-label]="getThemeName(theme)"
                [class.selected]="currentTheme === theme"
                [attr.aria-describedby]="'theme-option-hint-' + theme"
              >
                <mat-icon>{{ getThemeIcon(theme) }}</mat-icon>
              </button>
            </div>
          </div>
        </div>

        <div class="nav-group">
          <button
            type="button"
            class="nav-button"
            (click)="toggleLanguageOptions()"
            [attr.aria-label]="getTooltip('language')"
            [attr.aria-expanded]="showLanguageOptions"
            [matTooltip]="getTooltip('language')"
            matTooltipPosition="left"
          >
            <span class="lang-label">{{ currentLang | slice:0:3 | uppercase }}</span>
          </button>
          <div class="option-container" *ngIf="showLanguageOptions">
            <div class="option-item" *ngFor="let language of availableLanguages">
              <span class="option-hint" [id]="'language-option-hint-' + language">{{ getLanguageName(language) }}</span>
              <button
                class="option-button"
                type="button"
                (click)="changeLanguage(language)"
                [attr.aria-label]="getLanguageName(language)"
                [attr.aria-describedby]="'language-option-hint-' + language"
              >
                <img class="lang-flag" [src]="getLanguageFlag(language)" [alt]="getLanguageName(language)" />
              </button>
            </div>
          </div>
        </div>

        <div class="nav-group nav-group--pages" *ngIf="pageLinks.length">
          <button
            type="button"
            class="nav-button nav-button--pages"
            (click)="togglePageOptions()"
            [attr.aria-label]="getTooltip('pages')"
            [attr.aria-haspopup]="true"
            [attr.aria-expanded]="showPageOptions"
            [matTooltip]="getTooltip('pages')"
            matTooltipPosition="left"
          >
            <mat-icon aria-hidden="true">menu</mat-icon>
            <span class="nav-button__label">{{ getMenuLabel() }}</span>
          </button>
          <div
            class="page-options-container"
            *ngIf="showPageOptions"
            role="menu"
            [attr.aria-label]="getTooltip('pages')"
            (keydown)="onPageOptionsKeydown($event)"
          >
            <button
              #pageLinkButton
              *ngFor="let link of pageLinks"
              type="button"
              class="page-option-button"
              role="menuitem"
              (click)="navigateToPage(link)"
              [attr.aria-label]="getPageLabel(link)"
              [attr.aria-current]="getAriaCurrent(link)"
              [class.page-option-button--active]="isActiveLink(link)"
            >
              <span class="page-option-button__text">{{ getPageLabel(link) }}</span>
            </button>
          </div>
        </div>
      </div>
    </ng-container>

    <button
      class="nav-button close-button nav-toggle-button"
      type="button"
      (click)="toggleNavigator()"
      [attr.aria-label]="getToggleButtonLabel()"
      [matTooltip]="getToggleButtonLabel()"
      matTooltipPosition="left"
      [attr.aria-expanded]="isOpen"
    >
      <mat-icon>expand_more</mat-icon>
    </button>
  </div>
</div>
