<input type="checkbox" id="theme-toggle" [checked]="darkMode" (change)="toggleTheme()" />

<label for="theme-toggle" class="theme-switch-label">
  <span class="slider">
    <span class="theme-icon">
      <!-- Sun Icon (visible when darkMode is false) -->
      <img class="svg-icon sun" src="./assets/sun.svg" alt="Sun Icon" [ngClass]="{'hidden': darkMode}" />

      <!-- Moon Icon (visible when darkMode is true) -->
      <img class="svg-icon moon" src="./assets/moon.svg" alt="Moon Icon" [ngClass]="{'hidden': !darkMode}" />
    </span>
  </span>
</label>
